:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  background: linear-gradient(315deg, #c2e9fb 0%, #a1c4fd 100%);
  display: grid;
  place-items: center;
  height: 100vh;
}

body,
input,
button {
  font-family: Montserrat, sans-serif;
}

button {
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  outline: 1px solid rgba(113, 116, 200, 0.8);
  background: #7879f1;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  padding: 1.6rem;
}

button:hover {
  background: #6565cc;
}

.container-top {
  display: flex;
  align-items: center;
  height: 3.2rem;
  width: 100%;
  background: #2c2c54;
  border-radius: 6px 6px 0 0;
}

.container-top span {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.container-top span:nth-child(1) {
  background: #ff3c3c;
}

.container-top span:nth-child(2) {
  background: #ffbd4a;
}

.container-top span:nth-child(3) {
  background: #00ca4e;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 6px 6px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 6.4rem 7.2rem;
}

.hidden {
  display: none;
}

.box-1,
.box-2 {
  text-align: center;
}

.box-1 h1,
.box-2 h2 {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 600;
  color: #34355b;
  margin-bottom: 1.6rem;
}

.box-1 p {
  color: rgba(52, 53, 91, 0.8);
  line-height: 1.5rem;
  margin-bottom: 4rem;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
}

.box-1 input {
  align-items: center;
  border: none;
  outline: 1px solid rgba(113, 116, 200, 0.8);
  color: #34355b;
  border-radius: 4px 0 0 4px;
  background: #dce2e9;
  width: 6rem;
  padding: 1.6rem;
}

.box-2 h2 {
  margin-bottom: 3.2rem;
}

.box-2 button {
  width: 50%;
  border-radius: 4px;
}

.attempts {
  padding: 0 1.6rem;
  border: 1px solid rgba(113, 116, 200, 0.8);
  border-radius: 4px;
  background-color: #34355b;
  color: #fff;
}
